// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction


// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
// prefer-no-csd

include "startups.kdl"
include "inputs.kdl"
include "outputs.kdl"
include "layout.kdl"
include "screenshoting.kdl"
include "animations.kdl"
include "window-rules.kdl"
include "noctalia-settings.kdl"
include "keybinds.kdl"
